In [1015]:
import pandas as pd
import numpy as np

In [1016]:
df = pd.read_csv('./indian_movies_data.csv')
df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,KEYWORDS,GENRES,CAST
0,False,/kQM7o3NIkruIZLoQ9E2XzZQ8Ujl.jpg,"[28, 35, 80]",783461,hi,लूप लपेटा,"When her boyfriend loses a mobster's cash, Sav...",201.126,/onGdT8sYi89drvSJyEJnft97rOq.jpg,2022-02-04,Looop Lapeta,False,6.3,47,"['remake', 'looop lapeta', 'saade saati']","['Action', 'Comedy', 'Crime']","['Taapsee Pannu', 'Tahir Raj Bhasin', 'Shreya ..."
1,False,/7w06baRS9VPm5RYz8lawTCLiR4j.jpg,"[28, 80, 53]",592508,hi,Sooryavanshi,"A fearless, faithful albeit slightly forgetful...",118.910,/8p3mhjyLjHKtaAv8tFKfvEBtir0.jpg,2021-11-05,Sooryavanshi,False,5.8,115,"['police', 'sequel', 'police officer', 'cop un...","['Action', 'Crime', 'Thriller']","['Akshay Kumar', 'Katrina Kaif', 'Ajay Devgn',..."
2,False,/4r3iEz4CsRWm7KTrFrESrKkv7GU.jpg,"[18, 35, 10749]",601635,hi,लाल सिंह चड्ढा,Events in India's history — from the Emergency...,60.696,/rS8fGGgs9panboG1ZVGS6CFzXJM.jpg,2022-08-11,Laal Singh Chaddha,False,6.0,1,"['mentally disabled', 'based on novel or book'...","['Drama', 'Comedy', 'Romance']","['Aamir Khan', 'Kareena Kapoor Khan', 'Naga Ch..."
3,False,/3X44M96PsggERutUGrYhHXuaHsl.jpg,"[35, 18, 10751]",729700,hi,रक्षा बन्धन,A doting brother will only get married to his ...,29.388,/ykefXRqhM7HVnLWPtXWcWCcvBy6.jpg,2022-08-11,Raksha Bandhan,False,0.0,0,[],"['Comedy', 'Drama', 'Family']","['Akshay Kumar', 'Bhumi Pednekar', 'Sadia Khat..."
4,False,/aFGPUmbgGoAt93WP3WYsAPa0Yv8.jpg,"[18, 35]",20453,hi,3 Idiots,Rascal. Joker. Dreamer. Genius... You've never...,46.251,/66A9MqXOyVFCssoloscw79z8Tew.jpg,2009-12-23,3 Idiots,False,8.0,1874,"['suicide', 'suicide attempt', 'college', 'mus...","['Drama', 'Comedy']","['Aamir Khan', 'Sharman Joshi', 'R. Madhavan',..."

c = df[df['vote_count'] < 1].index
for i in c:
    df = df.drop(i)

In [1017]:
df = df[df.release_date > '2010-01-01']

In [1018]:
pid = [500063,427386,324344,837134,743202,527725,526133,1011874,546694,900111,942058,809489,428227,168445,877655,575558,215383,
       515045,982159,432349,893160,826569,1005094,253713,837134,63467,705701,401971,74458,394034,117784,666131]
for i in pid:
    j = df[df['id']== i].index
    df = df.drop(j)

In [1019]:
df[df['id']== 324344]

Empty DataFrame
Columns: [adult, backdrop_path, genre_ids, id, original_language, original_title, overview, popularity, poster_path, release_date, title, video, vote_average, vote_count, KEYWORDS, GENRES, CAST]
Index: []

In [1020]:
df.isnull().sum()

adult                  0
backdrop_path        870
genre_ids              0
id                     0
original_language      0
original_title         0
overview             106
popularity             0
poster_path          200
release_date           0
title                  0
video                  0
vote_average           0
vote_count             0
KEYWORDS               0
GENRES                 0
CAST                   0
dtype: int64

In [1021]:
df.drop(['backdrop_path','release_date'],axis=1,inplace=True)

In [1022]:
df.isnull().sum()

adult                  0
genre_ids              0
id                     0
original_language      0
original_title         0
overview             106
popularity             0
poster_path          200
title                  0
video                  0
vote_average           0
vote_count             0
KEYWORDS               0
GENRES                 0
CAST                   0
dtype: int64

In [1023]:
df.dropna(inplace=True)

In [1024]:
col = ['id','title','overview','GENRES','KEYWORDS','CAST']
df = df[col]
df = df.reset_index()
df

,index,id,title,overview,GENRES,KEYWORDS,CAST
0,0,783461,Looop Lapeta,"When her boyfriend loses a mobster's cash, Sav...","['Action', 'Comedy', 'Crime']","['remake', 'looop lapeta', 'saade saati']","['Taapsee Pannu', 'Tahir Raj Bhasin', 'Shreya ..."
1,1,592508,Sooryavanshi,"A fearless, faithful albeit slightly forgetful...","['Action', 'Crime', 'Thriller']","['police', 'sequel', 'police officer', 'cop un...","['Akshay Kumar', 'Katrina Kaif', 'Ajay Devgn',..."
2,2,601635,Laal Singh Chaddha,Events in India's history — from the Emergency...,"['Drama', 'Comedy', 'Romance']","['mentally disabled', 'based on novel or book'...","['Aamir Khan', 'Kareena Kapoor Khan', 'Naga Ch..."
3,3,729700,Raksha Bandhan,A doting brother will only get married to his ...,"['Comedy', 'Drama', 'Family']",[],"['Akshay Kumar', 'Bhumi Pednekar', 'Sadia Khat..."
4,5,767377,Dhamaka,When a cynical ex-TV news anchor gets an alarm...,"['Thriller', 'Drama', 'Crime']",['remake'],"['Kartik Aaryan', 'Amruta Subhash', 'Mrunal Th..."
...,...,...,...,...,...,...,...
1882,5880,54098,Soch Lo,The film takes off from the point where a woun...,"['Action', 'Mystery', 'Thriller']",[],[]
1883,5881,52394,Rokkk,Anushka helps her sister fight a murder charge...,"['Thriller', 'Horror', 'Mystery']",[],"['Tanushree Dutta', 'Sachin Khedekar', 'Udita ..."
1884,5887,35214,Na Ghar Ke Na Ghaat Ke,The newly released 'Na Ghar Ke Na Ghat Ke' tel...,[],[],[]
1885,5889,33384,Road to Sangam,"Hasmat, a devout Muslim, is asked to repair a ...",['Drama'],"['mahatma gandhi', 'hindu muslim conflict']","['Paresh Rawal', 'Om Puri', 'Pavan Malhotra', ..."
1886,5898,1012151,Miami Seh New York,About MIAMI SEH NEW YORK - A coming of age fil...,[],[],"['Arjun Anand', 'Rohini Chandra', 'Nikhaar Kis..."

In [994]:
df.drop(['index'],axis=1)
df

,index,id,title,overview,GENRES,KEYWORDS,CAST
0,0,783461,Looop Lapeta,"When her boyfriend loses a mobster's cash, Sav...","['Action', 'Comedy', 'Crime']","['remake', 'looop lapeta', 'saade saati']","['Taapsee Pannu', 'Tahir Raj Bhasin', 'Shreya ..."
1,1,592508,Sooryavanshi,"A fearless, faithful albeit slightly forgetful...","['Action', 'Crime', 'Thriller']","['police', 'sequel', 'police officer', 'cop un...","['Akshay Kumar', 'Katrina Kaif', 'Ajay Devgn',..."
2,2,601635,Laal Singh Chaddha,Events in India's history — from the Emergency...,"['Drama', 'Comedy', 'Romance']","['mentally disabled', 'based on novel or book'...","['Aamir Khan', 'Kareena Kapoor Khan', 'Naga Ch..."
3,5,767377,Dhamaka,When a cynical ex-TV news anchor gets an alarm...,"['Thriller', 'Drama', 'Crime']",['remake'],"['Kartik Aaryan', 'Amruta Subhash', 'Mrunal Th..."
4,7,679018,Jersey,"An ex-cricketer struggling to make ends meet, ...",['Drama'],"['cricket', 'sports', 'remake', 'father son re...","['Shahid Kapoor', 'Mrunal Thakur', 'Pankaj Kap..."
...,...,...,...,...,...,...,...
1346,5876,63241,Utt Pataang,Mumbai-based Ramvilas Sharma has just broken-u...,"['Comedy', 'Romance']",[],"['Vinay Pathak', 'Mahie Gill', 'Saurabh Shukla..."
1347,5880,54098,Soch Lo,The film takes off from the point where a woun...,"['Action', 'Mystery', 'Thriller']",[],[]
1348,5881,52394,Rokkk,Anushka helps her sister fight a murder charge...,"['Thriller', 'Horror', 'Mystery']",[],"['Tanushree Dutta', 'Sachin Khedekar', 'Udita ..."
1349,5887,35214,Na Ghar Ke Na Ghaat Ke,The newly released 'Na Ghar Ke Na Ghat Ke' tel...,[],[],[]
1350,5889,33384,Road to Sangam,"Hasmat, a devout Muslim, is asked to repair a ...",['Drama'],"['mahatma gandhi', 'hindu muslim conflict']","['Paresh Rawal', 'Om Puri', 'Pavan Malhotra', ..."

In [995]:
df.isnull().sum()

index       0
id          0
title       0
overview    0
GENRES      0
KEYWORDS    0
CAST        0
dtype: int64

In [996]:
df.dropna(inplace=True)

In [997]:
df.duplicated().sum()

0

In [998]:
df['CAST']

0       ['Taapsee Pannu', 'Tahir Raj Bhasin', 'Shreya ...
1       ['Akshay Kumar', 'Katrina Kaif', 'Ajay Devgn',...
2       ['Aamir Khan', 'Kareena Kapoor Khan', 'Naga Ch...
3       ['Kartik Aaryan', 'Amruta Subhash', 'Mrunal Th...
4       ['Shahid Kapoor', 'Mrunal Thakur', 'Pankaj Kap...
                              ...
1346    ['Vinay Pathak', 'Mahie Gill', 'Saurabh Shukla...
1347                                                   []
1348    ['Tanushree Dutta', 'Sachin Khedekar', 'Udita ...
1349                                                   []
1350    ['Paresh Rawal', 'Om Puri', 'Pavan Malhotra', ...
Name: CAST, Length: 1351, dtype: object

In [999]:
df['overview'] = df['overview'].apply(lambda x:x.split())

In [1000]:
df['overview']

0       [When, her, boyfriend, loses, a, mobster's, ca...
1       [A, fearless,, faithful, albeit, slightly, for...
2       [Events, in, India's, history, —, from, the, E...
3       [When, a, cynical, ex-TV, news, anchor, gets, ...
4       [An, ex-cricketer, struggling, to, make, ends,...
                              ...
1346    [Mumbai-based, Ramvilas, Sharma, has, just, br...
1347    [The, film, takes, off, from, the, point, wher...
1348    [Anushka, helps, her, sister, fight, a, murder...
1349    [The, newly, released, 'Na, Ghar, Ke, Na, Ghat...
1350    [Hasmat,, a, devout, Muslim,, is, asked, to, r...
Name: overview, Length: 1351, dtype: object

In [1001]:
def converter(obj):
    l = []
    for i in ast.literal_eval(obj):
        l.append(i)
    return l

In [1002]:
df['GENRES'] = df['GENRES'].apply(converter)

In [1003]:
df['GENRES']

0           [Action, Comedy, Crime]
1         [Action, Crime, Thriller]
2          [Drama, Comedy, Romance]
3          [Thriller, Drama, Crime]
4                           [Drama]
                   ...
1346              [Comedy, Romance]
1347    [Action, Mystery, Thriller]
1348    [Thriller, Horror, Mystery]
1349                             []
1350                        [Drama]
Name: GENRES, Length: 1351, dtype: object

In [1004]:
df['CAST'] = df['CAST'].apply(converter)

In [1005]:
df['CAST']

0       [Taapsee Pannu, Tahir Raj Bhasin, Shreya Dhanw...
1       [Akshay Kumar, Katrina Kaif, Ajay Devgn, Ranve...
2       [Aamir Khan, Kareena Kapoor Khan, Naga Chaitan...
3       [Kartik Aaryan, Amruta Subhash, Mrunal Thakur,...
4       [Shahid Kapoor, Mrunal Thakur, Pankaj Kapur, R...
                              ...
1346    [Vinay Pathak, Mahie Gill, Saurabh Shukla, Mon...
1347                                                   []
1348    [Tanushree Dutta, Sachin Khedekar, Udita Goswa...
1349                                                   []
1350    [Paresh Rawal, Om Puri, Pavan Malhotra, Javed ...
Name: CAST, Length: 1351, dtype: object

In [1006]:
df['KEYWORDS'] = df['KEYWORDS'].apply(converter)

In [1007]:
df['KEYWORDS']

0                     [remake, looop lapeta, saade saati]
1          [police, sequel, police officer, cop universe]
2       [mentally disabled, based on novel or book, re...
3                                                [remake]
4       [cricket, sports, remake, father son relations...
                              ...
1346                                                   []
1347                                                   []
1348                                                   []
1349                                                   []
1350              [mahatma gandhi, hindu muslim conflict]
Name: KEYWORDS, Length: 1351, dtype: object

In [1008]:
df['GENRES'] = df['GENRES'].apply(lambda x:[i.replace(" ","") for i in x])

In [1009]:
df['GENRES']

0           [Action, Comedy, Crime]
1         [Action, Crime, Thriller]
2          [Drama, Comedy, Romance]
3          [Thriller, Drama, Crime]
4                           [Drama]
                   ...
1346              [Comedy, Romance]
1347    [Action, Mystery, Thriller]
1348    [Thriller, Horror, Mystery]
1349                             []
1350                        [Drama]
Name: GENRES, Length: 1351, dtype: object

In [1010]:
df['CAST'] = df['CAST'].apply(lambda x:[i.replace(" ","") for i in x])

In [1011]:
df['KEYWORDS'] = df['KEYWORDS'].apply(lambda x:[i.replace(" ","") for i in x])

In [1012]:
df['tags'] =  df['CAST']  + df['GENRES'] + df['KEYWORDS'] + df['overview']

In [1013]:
new_df = df[['id','title','tags']]

In [1014]:
new_df

,id,title,tags
0,783461,Looop Lapeta,"[TaapseePannu, TahirRajBhasin, ShreyaDhanwanth..."
1,592508,Sooryavanshi,"[AkshayKumar, KatrinaKaif, AjayDevgn, RanveerS..."
2,601635,Laal Singh Chaddha,"[AamirKhan, KareenaKapoorKhan, NagaChaitanyaAk..."
3,767377,Dhamaka,"[KartikAaryan, AmrutaSubhash, MrunalThakur, So..."
4,679018,Jersey,"[ShahidKapoor, MrunalThakur, PankajKapur, Roni..."
...,...,...,...
1346,63241,Utt Pataang,"[VinayPathak, MahieGill, SaurabhShukla, MonaSi..."
1347,54098,Soch Lo,"[Action, Mystery, Thriller, The, film, takes, ..."
1348,52394,Rokkk,"[TanushreeDutta, SachinKhedekar, UditaGoswami,..."
1349,35214,Na Ghar Ke Na Ghaat Ke,"[The, newly, released, 'Na, Ghar, Ke, Na, Ghat..."
1350,33384,Road to Sangam,"[PareshRawal, OmPuri, PavanMalhotra, JavedShei..."

In [960]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\dhana\AppData\Local\Temp\ipykernel_17284\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [961]:
new_df['tags'][0]

"TaapseePannu TahirRajBhasin ShreyaDhanwanthary DibyenduBhattacharya RajendraChawla K.C.Shankar SureshTriveni ManikPapneja RaghavRajKakker SameerKevinRoy BhupeshBandekar AlistarBennis VarunPande BabajaanDevaraya GuiaBianchi PriyaParamitaPaul Action Comedy Crime remake loooplapeta saadesaati When her boyfriend loses a mobster's cash, Savi races against the clock to save the day — if only she can break out of a curious cycle of dead ends."

In [962]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\dhana\AppData\Local\Temp\ipykernel_17284\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [963]:
import nltk
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
ps = PorterStemmer()
lemmatizer = WordNetLemmatizer()


def stem(text):
    y = []
    for i in text.split():
        y.append(lemmatizer.lemmatize(i))
        
    return " ".join(y)

In [964]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\dhana\AppData\Local\Temp\ipykernel_17284\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [965]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')
vector = cv.fit_transform(new_df['tags']).toarray()
vector.shape

(1887, 5000)

In [966]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
similarity

array([[1.        , 0.06819943, 0.06324555, ..., 0.        , 0.        ,
        0.        ],
       [0.06819943, 1.        , 0.04313311, ..., 0.03112864, 0.        ,
        0.        ],
       [0.06324555, 0.04313311, 1.        , ..., 0.        , 0.03244428,
        0.        ],
       ...,
       [0.        , 0.03112864, 0.        , ..., 1.        , 0.        ,
        0.04003204],
       [0.        , 0.        , 0.03244428, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.04003204, 0.        ,
        1.        ]])

In [967]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [968]:
new_df

,id,title,tags
0,783461,Looop Lapeta,taapseepannu tahirrajbhasin shreyadhanwanthary...
1,592508,Sooryavanshi,akshaykumar katrinakaif ajaydevgn ranveersingh...
2,601635,Laal Singh Chaddha,aamirkhan kareenakapoorkhan nagachaitanyaakkin...
3,729700,Raksha Bandhan,akshaykumar bhumipednekar sadiakhateeb sahejme...
4,767377,Dhamaka,kartikaaryan amrutasubhash mrunalthakur sohamm...
...,...,...,...
1882,54098,Soch Lo,action mystery thriller the film take off from...
1883,52394,Rokkk,tanushreedutta sachinkhedekar uditagoswami nis...
1884,35214,Na Ghar Ke Na Ghaat Ke,the newly released 'na ghar ke na ghat ke' tel...
1885,33384,Road to Sangam,pareshrawal ompuri pavanmalhotra javedsheikh m...
1886,1012151,Miami Seh New York,arjunanand rohinichandra nikhaarkishnani janel...

In [969]:
new_df[new_df['title' ]== 'Kal Ho Naa Ho']

Empty DataFrame
Columns: [id, title, tags]
Index: []

In [970]:
#recommend('Kal Ho Naa Ho')

In [971]:
api_key='8265bd1679663a7ea12ac168da84d2e8'
import requests
import datetime
import time
import pandas as pd
from tmdbv3api import TMDb
from tmdbv3api import Movie
tmdb=TMDb()
movie = Movie()
TMDb.api_key= api_key
tmdb.language = 'en'
tmdb.debug = True

In [972]:
mr = movie.recommendations(4254)
for i in range(5):
    print(mr[i]['title'])

Main Hoon Na
Kabhi Khushi Kabhie Gham
Kuch Kuch Hota Hai
Dil To Pagal Hai
Mohabbatein

In [973]:
import pickle

In [974]:
pickle.dump(new_df,open('movie_list_indian.pkl','wb'))
pickle.dump(similarity,open('similarity_indian.pkl','wb'))

In [975]:
new_df[new_df['id']== 500063]

Empty DataFrame
Columns: [id, title, tags]
Index: []

In [976]:
bg = [500063]